body {
    width: 960px;
    margin: 0px auto;
    font-family: Arial;
}

/* header */
#header h1 {
    text-align: center;
}

#nav, #highlight, #footer{
    text-align: center;
    padding: 10px;
    margin: 10px;
    background-color: #efefef;
}

#nav li {
    display: inline;
    padding: 5px;
}

/* content */
/* #highlight {
    text-align: center;
    padding: 10px;
    margin: 10px;
    background-color: #efefef;
} */
#content {
    height: 100%;
    overflow: auto;
}

#highlight img {
    width: 20%;
}

.article {
    width: 280px;
    height: 200px;
    margin: 10px;
    padding: 10px;
    background-color: #efefef;
    float: left;
}

.column-1 {
    background-color: antiquewhite;
}

.column-2 {
    background-color: aliceblue;
}


/* footer */
/* #footer {
    text-align: center;
    padding: 10px;
    margin: 10px;
    background-color: #efefef;
} */