@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', Tahoma, sans-serif;
}
body {
    min-height: 100vh;
    width: 100%;
    padding: 0 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #343f4f;
}

.wrapper {
    /* max-width: 1200px; */
    width: 90%;
    position: relative;
}

.wrapper i {
    width: 45px;
    height: 45px;
    cursor: pointer;
    font-size: 1.2rem;
    text-align: center;
    line-height: 46px;
    background: #fff;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.wrapper i:first-child {
    left: -23px;
}
.wrapper i:last-child {
    right: -23px;
}

.wrapper .carousel {
    overflow: hidden;
    white-space: nowrap;
    scroll-behavior: smooth;
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    /* border: 1px solid red; */
}

.carousel .carousel-content {
    height: 340px;
    min-width: calc(100% / 3);
    padding-left: 10px;
    padding-right: 10px;
    object-fit: cover;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    /* background: #efefef; */

    /* border: 1px solid; */
}

.carousel-content img {
    display: flex;
    border-radius: 10px 10px 0 0;
}

.carousel .content {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    padding: 5px 10px;
    border-radius: 0 0 10px 10px;

    border: 1px solid;
    background: #efefef;
}

.carousel-content h1 {font-size: 1.3rem; border: 1px solid;}
.carousel-content p {font-size: 0.75rem; border: 1px solid; overflow: hidden; height: 60px; }

@media screen and (max-width:900px) {
    .carousel .carousel-content {
        min-width: calc(100% / 2);
        width: 50%;
    }
}

@media screen and (max-width:550px) {
    .carousel .carousel-content {
        min-width: calc(100% / 1);
    }
}

/* .wrapper, .wrapper .carousel {border: 1px solid;} */

img {
    object-fit: 9 / 16;
    height: 200px;
}