* {
    box-sizing: border-box;
    font-family: Arial;
}

.header {
    background-color: #efefef;
    padding: 15px;
}

/* container */
/* menu */
.menu {
    margin-top: 20px;
}

.menu ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.menu li {
    padding: 10px;
    margin-bottom: 10px;
    background-color: coral;
    color: aliceblue;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.5);
}

.menu li:hover {
    background-color: chocolate;
}

/* content */
.content {
    /* margin-top: 10px; */
}

/* column */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;} /* 1/4 */
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;} /* 2/4 */
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;} /* 3/4 */
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;} /* 4/4 */

/* selector column */
[class*="col-"] {
    float: left;
    padding: 10px;
}