/* .header img, .header-title {border: 1px solid;} */
* {
    font-family: Tahoma;
    box-sizing: border-box;
    margin: 0px;
}

body {
    width: 100%;
    height: 100%;
    display: grid;
}

/* ###################################################################################################### */
/* header */
/* ###################################################################################################### */
.header {
    width: 100%;
    height: 50px;
    padding: 0px 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #efefef;
}
.header img {
    height: 50px;
}
.header-back {
    position: relative;
    top: 2px;
}

.header-title {
    display: flex;
    align-items: center;
}

.header-back:hover {
    border-radius: 50%;
    background-color: grey;
}
/* ###################################################################################################### */
/* container */
/* ###################################################################################################### */
/* *********************** */
/* side */
/* *********************** */
.side {
    font-family: 'Times New Roman';
}

.side-profil img {
    border-radius: 50%;
}

.profil table tr td{text-align: center;}

.side-footer {
    height: 50px;

    /* border: 1px solid; */
}
.side-footer button {
    border: none;
    border-radius: 10px;
    background-color: gainsboro;
    padding: 7px 15px;
    height: 30px;
}

/* *********************** */
/* nav */
/* *********************** */
.nav img {
    height: 40px;
}

.nav-image:hover {
    background-color: gainsboro;
}

/* *********************** */
/* content */
/* *********************** */



/* ###################################################################################################### */
/* footer */
/* ###################################################################################################### */


@media only screen and (max-width:700px){
    /* header */
    .header img {
        height: 40px;
    }

    .header-title {
        width: 65%;
        height: 40px;
        padding-left: 5%;
    }

    /* container */
    /* side */
    .side {
        width: 100%;
    }
    .side-profil {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 15px;
    }
    .side-profil img {
        height: 100px;
    }
    .side-content {
        padding: 10px 15px;
    }
    .side-footer {
        height: 50px;
        padding-top: 10px;
        display: flex;
        justify-content: space-around;
    }

    /* nav */
    .nav {
        border-top: 1px solid grey;
        border-bottom: 1px solid grey;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    
    .nav-image {
        width: 33%;
        padding: 2px 5px;
        display: flex;
        justify-content: center;
    }
    .nav-active {
        border-bottom: 3px solid grey;
    }

    /* content */
    .content {
        height: 480px;
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
        overflow-y: scroll;
    }

    .content-image {
        width: 33%;
        height: 33%;
        padding: 1%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .content-image img {
        max-width: 100%;
        height: 100%;
    }
}

@media only screen and (min-width:701px){
    /* header */
    .header-title {
        width: 87%;
        height: 50px;
        padding-left: 7%;
    }
    
    /* container */
    .container {
        display: grid;
        width: 100%;
        grid-template-columns: 40% 4% auto;
        grid-template-rows: 550px;

    }

    /* side */
    .side {
        width: 100%;
        height: auto;
        float: left;
    }
    .side-profil {
        width: 70%;
        padding: 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .profil, .side-footer{
        padding-top: 10px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .side-content {
        height: 17%;
        padding: 10px;
        border-top: 1px solid grey;
    }

    .side-profil img {height: 300px;}
    [class*="side-"]{
        margin-left: 1%;
    }

    .nav {
        border-right: 1px solid grey;
        border-left: 1px solid grey;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .nav-image {
        width: 100%;
        height: 32%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .nav-active {
        border-right: 3px solid grey;
    }

    /* content */
    .content {
        width: 100%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
        overflow-y: scroll;

        border: 1px solid;

    }

    .content-image {
        width: 33%;
        height: 33%;
        padding: 1%;
        display: flex;
        justify-content: center;
        align-items: center;

        border: 1px solid;
    }

    .content-image img {
        width: 80%;
        height: 100%;
    }
}

/* .header {border: 1px solid;} */

/* .side {border: 1px solid;} */
/* .nav {border: 1px solid blue;} */
/* .content {border: 1px solid;} */