@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

* {
    font-family: 'Poppins', Tahoma ,sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body, main, section {overflow-x: hidden;}
/* [class*="section-"], [class$="-container"] {overflow-y: hidden;} */

main {
    height: 100vh;
    width: 100%;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    /* -webkit-overflow-scrolling: touch; */
}

main > section {
    height: 100vh;
    width: 100%;
    display: flex;
    scroll-snap-align: start;
    scroll-snap-stop: always;
}

/* ##################################################################################################### */
:root {
    --bg-1: radial-gradient(#0f172a, #0f1930, #0f1930);
    --bg-2: radial-gradient(#0f1930, #0f1930, #0f172a);
    --col-1: lavender;
    --op-1: 65%;
    --op-2: 80%;
    --op-3: 100%;
}

main {
    background: var(--bg-1);
}

h1, h2, h3, h4, h5, h6, p, div, a{
    color: var(--col-1);
    width: 100%;
}

span {
    opacity: var(--op-3);
    color: white;
}

.header {
    height: 50px;
    width: 100%;
    top: 0px;
    left: 0px;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    transition: z-index 0.3s;
    display: flex;
    align-items: center;
    padding-left: 5%;
}

#header-1 {position: fixed;z-index: 1;}
#header-2 {z-index: 2;background: none;backdrop-filter: none;position: static;}
#header-3 {z-index: 3;background: none;backdrop-filter: none;position: static;}
#header-4 {z-index: 4;background: none;backdrop-filter: none;position: static;}
#header-5 {z-index: 5;background: none;backdrop-filter: none;position: static;}
#header-6 {z-index: 6;background: none;backdrop-filter: none;position: static;}
section {z-index: 0;}

/* ##################################################################################################### */
/* section-1 */
.s1-container, .s2-container{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 40%);
    justify-content: space-around;
    align-items: center;
    padding: 0 5%;

    /* border: 1px solid; */
}

.profil,
.profil-image,
.about {
    height: 80%;

    border: 1px solid;
}

.profil {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 10px;
}

.profil > h1 {font-size: 3rem;}
.profil > h2 {font-size: 1.2rem; opacity: var(--op-2); height: 40px;}
.profil > h4{font-size: 1rem; opacity: var(--op-1); height: 50px;}

.s1-nav {
    height: 120px;
    width: 100%;
    margin: auto 0px;
    display: grid;
    flex-direction: column;
}
.s1-nav a {
    opacity: 65%;
    transition: ease-in-out 0.3s;
}
.s1-nav a::before {content: "---";}
.s1-nav > a:hover, .s1-nav a:hover::before {
    opacity: var(--op-3);
    content: "-----";
}
.profil-nav i {opacity: var(--op-2);margin-right: 20px;}
.profil-nav i:hover {opacity: var(--op-3);}

.profil-image img {
    height: 100%;
    width: 100%;
    background-size: cover;
}

.s2-container,
.s3-container,
.s4-container,
.s5-container {
    height: 100vh;
    width: 100%;
    padding: 0px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50px 100%;
    overflow-y: hidden;
}

.s2-container .header,
.s3-container .header,
.s4-container .header,
.s5-container .header,
.container {grid-column: span 2;}

.container {
    height: 100%;
    width: 100%;
    margin-top: -95px;
    display: grid;
    grid-template-columns: repeat(2, 40%);
    justify-content: space-around;
    align-items: center;
    padding: 0 5%;

    /* border: 1px solid red; */
}

.profil > h4 > button {
    padding: 2px 10px;
    margin-right: 10px;
    border-radius: 10px;
    border: none;
}

/* .profil > h1, h2, h4, .profil-nav {border: 1px solid;} */

/* ##################################################################################################### */
@media only screen and (max-width:700px) {
    /* .profil > h1, h2, h4, .profil-nav {border: 1px solid;} */
    .profil > h2 {height: 100px;}
    .profil > h4 {height: 120px; margin-bottom: 20px;}

    .profil,
    .profil-image {
        grid-column: span 2;
        position: relative;
        transform: translateY(-20px);
    }

    /* .profil-image img {
        transform: translateY(-5px);
    } */

    .s1-nav {
        display: none;
    }

    .container {
        grid-template-rows: repeat(2, 50%);
        padding-top: 50px;
    }

    .s2-container .profil h4 {
        font-size: 0.8rem;
        transform: translateY(-85px);
    }

    .s2-container .profil h4 .hidden {
        display: none;
    }

}

@media only screen and (min-height:1000px) {
    main > section {
        height: 50%;
    }

    .profil-image {
        display: flex;
        align-items: flex-end;

        border: 1px solid;
    }

    .profil-image img {
        height: 300px;
        object-fit: scale-down;
    }

    .s2-container,
    .s3-container,
    .s4-container,
    .s5-container {
        height: 100%;
    }

    /* .s2-container .profil-image {
        height: 400px;
        transform: translateY(-220px);
    } */


    /* [class*="section-"], [class$="-container"] {overflow-y: hidden;} */
}

/* menhilangkan efek biru pada saat klik link di mobile */
*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
}