.deskripsi-container summary {
    display: flex;
    width: 100%;
}

.deskripsi-container:nth-child(odd){
    background-color: lightgray;
    width: max-content;

    /* border: 1px solid; */
}

.deskripsi-container pre {
    width: auto;
    margin-top: 0px;
    margin-bottom: 0px;
}