* {
    margin: 0px;
    box-sizing: border-box;
    color: black;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
}

body {
    width: 100%;
    height: 620px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 10% 80% 10%;

    /* border: 1px solid; */
}

/* ###################################################################################################### */
/* header */
header {
    background-color: #0a8f85;
    height: 100%;
    padding: 0px 2%;
    margin-top: 0px;
    position: sticky;
    top: 0px;
    display: grid;
    align-items: center;
    grid-auto-flow: column;
}

.header-back {
    width: 15%;
    height: 70%;
    padding: 10px;
    position: absolute;
    text-align: center;
    left: 2%;
}

.header-title{
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-shadow: 0px 2px 3px rgba(0, 0, 0, 1);
}

.header-back, .header-back a, .header-title {
    color: white;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.header-back a {
    font-size: 30px;
    font-weight: bold;
    padding: 0px 20%;
    border-radius: 20px;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.1);
    text-shadow: 0px 2px 3px rgba(0, 0, 0, 1);

    background-color: #008081;
}

/* ###################################################################################################### */
/* main */
main {
    background-color: #efefef;
    width: 100%;
    height: 100%;
    padding-top: 5%;
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    grid-template-rows: 70%;
    grid-auto-flow: row;
    row-gap: 10%;
    justify-content: space-evenly;
    align-items: stretch;
    overflow-y: scroll;

    /* border: 1px solid; */
}

/* container */
.container {
    /* background-color: aliceblue; */
    width: auto;
    height: 300px;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.1);

    /* border: 1px solid; */
}

.container-image img {
    height: 200px;
}

.container-text {
    width: auto;
    height: 100%;

    border: 1px solid;
}

.container-text h1, .container-text h4 {
    width: auto;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid;
}

.container-text h4 {
    height: 10%;

    justify-content: left;
}

/* span-1 */
.span-1 .container-image {
    display: flex;
    justify-content: center;
}

.span-1 .container-text p {
    display: none;
}

.span-1 .container-text h4 {
    display: flex;
    justify-content: center;
}

/* span-2 */
.span-2 {
    grid-column: span 2;
}

.span-2 img {
    height: 300px;
    float: left;
}

/* span-4 */
.span-4 {
    grid-column: span 4;
}

.span-4 .container-image {
    width: 30%;
    height: 100%;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;

    /* border: 1px solid; */
}

.span-4 img {
    height: 100%;
}

.span-4 .container-text h1 {
    height: 100%;
    font-size: 100px;
    text-align: center;
}

/* main-padding */
.main-padding {
    /* grid-column: span ; */
    width: 100%;
    height: 5%;
    clear: flex;
}

/* ###################################################################################################### */
/* footer */
footer {
    height: 100%;
    background-color: #1e293b;
}

/* ###################################################################################################### */
/* sudo */
.container, .header-back {transition: all 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);} /* agar lebih halus */
/* .container:hover {
    background-color: darkgrey;
    transform: scale(0.9); /* mengubah ukuran div menjadi lebih kecil */
} 
*/

.header-back a:hover {
    background-color: #008081;
    transform: scale(0.9);
}


@media only screen and (max-width:700px) {

}


@media only screen and (max-width:1200px) {
    .span-1 {
        grid-column: span 2;
    }
    .span-2 {
        grid-column: span 4;
    }
}

@media only screen and (max-width:900px) {
    .span-1, .span2, .span-4 {
        grid-column: span 4;
        overflow: scroll;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
    
    .span-1 .container-image {
        height: auto;
    }

    .span-1 .container-image img, .span-4 .container-image img {
        height: 300px;
        padding: 8%;
        float: left;

        border: 1px solid;
    }

    .span-1 .container-image, .span-4 .container-image {
        display: flex;
        justify-content: flex-start;
    }

    .span-1 .container-text, .span-4 .container-text {
        min-width: 10%;
        max-width: 63.5%;

        /* width: auto;
        height: 20%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: row; */

        border: 1px solid;
    }

    .span-1 .container-text p {display: flex; width:}

    .span-4 .container-image {
        width: auto;
    
        border: 1px solid;
    }

    .span-4 .container-image img {
        padding: 8%;
    }

    .span-4 .container-text h1 {
        width: auto;
        height: 20%;
        font-size: 2em;
        display: flex;
        align-items: center;
        justify-content: center;
    
        border: 1px solid;
    }


}